body{
    background-color: Snow;
}
.title-block{
    padding: 0px;
    background-color: Orange;
    color: white
}
.title-block h1{
    padding: 30px;
    padding-left: 50px;
}
.content{
    padding: 50px;
}
