body{
    background-color: Snow;
}
.bg-orange{
    background-color: Orange;
}
.navbar{
    padding-left: 2rem;
    padding-right: 2rem;
}
.navbar .icon{
    font-size: 1.5rem;
    color: white;
}
.content{
    padding: 50px;
}
